*, 
*:before, 
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 0; /* Crome - no scroll*/
}
html { 
	margin: 0 auto;
	min-width: 320px;
	font-size: 10px;
	background-color: #fff;
}
body {	
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;

}
a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
ul,li {
	list-style: none;
}
h1 {
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	color: #005CB2;
}
.container {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 10px;
	width: 100%;
	overflow: hidden;
}
/* --- // Common styles --- */

/* --- HEADER --- */
/* --- // HEADER --- */



/* --- FOOTER --- */
/* --- // FOOTER --- */